<html>
	<body>
		<h1>CATALOG</h1>
		</br>
		<h2>Collections</h2>
			{%with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
			{% for message in messages%}
				<li> <strong> {{message}} </strong></li>
			{% endfor %}
			</ul>
			{% endif %}
			{% endwith %}
			{% for c in collections %}
			<a href = '{{ url_for('showCollectionAllMovies', collection_id = c.id)}}'>{{c.name}}</a>
		</br>

		</br></br>
			{% endfor %}
		<h2>Latest Movies:</h2>
			{% for i in movies%}
		<img HEIGHT= 200 WIDTH= 200 src={{i.cover_image}}>
		</br>
			<a href = '{{ url_for('showMovieDescription',collection_id=i.collection_id, movie_id = i.id)}}'>{{i.name}}</a>
		</br>
			{% endfor %}

		</br>
		<a href= '{{ url_for('newCollection')}}'>Add New Collection</a>
	</body>
</html>