<html>
<body>
<form action= "{{url_for('editMovie', movie_id = movie.movie_id, movie_id=movie.id)}}" method = 'POST'>

<p>Name:</p>
<input type = 'text' size='30' name = 'name' placeholder = '{{movie.name}}'>
</br>
<p>Director:</p>
<input type = 'text' size='30' name = 'director' placeholder = '{{movie.director}}'>
</br>
<p>Genre:</p>
<input type = 'text' size='30' name = 'genre' placeholder = '{{movie.genre}}'>
</br>
<p>Year:</p>
<input type = 'text' size='30' name = 'year' placeholder = '{{movie.year}}'>
</br>
<p>Description:</p>
<input type = 'text' size='100' name = 'description' placeholder = '{{movie.description}}'>
</br>
<p>Cover Image URL:</p>
<input type = 'text' size='100' name = 'cover_image' placeholder = '{{movie.cover_image}}'>
</br>
<p>Trailer link:</p>
<input type = 'text' size='100' name = 'trailer_URL' placeholder = '{{movie.trailer_URL}}'>
</br></br>
<input type='submit' value='Edit'>

<a href= '{{url_for('showMovieDescription', movie_id= movie.movie_id, movie_id= movie.id)}}'>Cancel</a>
</form>
</body>
</html>